# Aliases
alias grep='grep --color=auto'
alias ls='ls -h --color=auto'

# Ubuntu
#alias install='sudo aptitude install'
#alias remove='sudo aptitude purge'
#alias search='aptitude search'
#alias update-repos='sudo aptitude update'
#alias update='sudo aptitude update && sudo aptitude safe-upgrade'

# Arch
alias install='yaourt -S'
alias remove='yaourt -Rsn'
alias search='pacman -Ss'
alias ssearch='yaourt -Ss'
alias update='yaourt -Syyu'

alias ll='ls -lh'
alias lla='ls -lah'
alias du='du -c -h'
alias df='df -h'

alias cp='cp -i'
alias mv='mv -i'
alias rm='rm --one-file-system -i'

alias screen-off='xset dpms force off'
