# Aliases
alias vim='nvim'

alias grep='grep --color=auto'
alias ls='ls -h --color=auto'

alias install='pacaur -S'
alias remove='pacaur -Rsn'
alias search='pacaur -Ss'
alias update='pacaur -Syyu'

alias ll='ls -lh'
alias lla='ls -lah'
alias du='du -c -h'
alias df='df -h'

alias cp='cp -i'
alias mv='mv -i'
alias rm='rm --one-file-system -i'

alias screen-off='xset dpms force off'

alias visualvm='visualvm --jdkhome /usr/lib/jvm/java-8-oracle'

alias big-dirs='find . -type d -print0 | xargs -0 du | sort -n | tail -10 | cut -f2 | xargs -I{} du -sh {}'
alias big-files='find . -type f -print0 | xargs -0 du | sort -n | tail -10 | cut -f2 | xargs -I{} du -sh {}'

alias spotify='spotify --force-device-scale-factor=1.0000001'
