Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

! {{{ Terminal configuration

urxvt.font:                xft:inconsolata for powerline:size=12
urxvt.boldFont:            xft:inconsolata for powerline:size=12:bold
urxvt.italicFont:          xft:inconsolata for powerline:size=12:italic
urxvt.boldItalicFont:      xft:inconsolata for powerline:size=12:bold:italic
!urxvt.letterSpace:         -1

urxvt.depth: 32
urxvt.scrollBar: false
urxvt.perl-ext-common: default,matcher,resize-font,keyboard-select,clipboard
urxvt.url-launcher: /usr/bin/xdg-open
urxvt.matcher.button: 1
urxvt.matcher.rend.0: Uline

urxvt.resize-font.smaller: C-minus
urxvt.resize-font.bigger: C-plus
urxvt.resize-font.reset: C-equal
urxvt.resize-font.show: C-question

urxvt.iso14755: false
urxvt.iso14755_52: false

urxvt.keysym.M-Escape: perl:keyboard-select:activate
urxvt.keysym.C-Escape: command: \033[6 q

! }}}

! {{{ Colors

! Base16 Ocean
! Scheme: Chris Kempson (http://chriskempson.com)

#define base00 #2b303b
#define base01 #343d46
#define base02 #4f5b66
#define base03 #65737e
#define base04 #a7adba
#define base05 #c0c5ce
#define base06 #dfe1e8
#define base07 #eff1f5
#define base08 #bf616a
#define base09 #d08770
#define base0A #ebcb8b
#define base0B #a3be8c
#define base0C #96b5b4
#define base0D #8fa1b3
#define base0E #b48ead
#define base0F #ab7967

*.foreground:   base05
*.background:   base00
*.cursorColor:  base05

*.color0:       base00
*.color1:       base08
*.color2:       base0B
*.color3:       base0A
*.color4:       base0D
*.color5:       base0E
*.color6:       base0C
*.color7:       base05

*.color8:       base03
*.color9:       base09
*.color10:      base01
*.color11:      base02
*.color12:      base04
*.color13:      base06
*.color14:      base0F
*.color15:      base07

! }}}

! {{{ rofi configuration

rofi.font:				Cantarell 15
rofi.location:          0
rofi.color-enabled:     true
rofi.color-window:      argb:B3000000, argb:B3000000, argb:E6ffffff
rofi.color-normal:      argb:00000000, argb:90FFFFFF, argb:00000000, argb:00000000, argb:FFFFFFFF 
rofi.color-urgent:      argb:00282a2e, argb:90FFFFFF, argb:00282a2e, argb:00000000, argb:ffcc6666
rofi.color-active:      argb:00282a2e, argb:90FFFFFF, argb:00282a2e, argb:00000000, argb:ff81a2be
rofi.separator-style:   solid
rofi.fullscreen:        true
rofi.padding:           220
rofi.hide-scrollbar:    true
rofi.line-margin:       4
rofi.yoffset:           0
rofi.xoffset:           0
rofi.width:             100
rofi.lines:             12

! }}}
